// reset

@import 'reset';

// layout

@import 'layout/header';
@import 'layout/navigation';
@import 'layout/hero';
@import 'layout/menu';
@import 'layout/ourService';
@import 'layout/login';
@import 'layout/user';
@import 'layout/quizzes';
@import 'layout/footer';

// components

@import 'components/typography';
@import 'components/container';
@import 'components/button';
@import 'components/skeleton';
@import 'components/icon';
@import 'components/card';
@import 'components/input';
@import 'components/loader';
@import 'components/modal';
@import 'components/quiz';
@import 'components/quizCard';
@import 'components/quizAnswer';

// global styles

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}