@import '../utils/variables';

.footer {
  width: 100%;
  background-color: $color-primary;
  box-sizing: border-box;
  padding: 30px 20px;

  @include respond-to(small) {
    padding: 20px;
  }

  @include respond-to(small) {
    padding: 40px;
  }
}