@import '../utils/variables';
@import '../utils/mixins';

.hero {
  background-color: $color-background;
  width: 100%;
  min-height: 90vh;
  display: flex;
  justify-content: center;

  &__container {
    display: grid;
    align-items: center;
    justify-content: space-between;
    gap: 70px;

    @include respond-to(large) {
      grid-template-columns: 45% 40%;
      padding: 18px 20px;
      gap: 80px;
    }
  }

  &__element {
    &--item1 {
      order: 2;

      @include respond-to(large) {
        order: 1;
      }
    }

    &--item2 {
      order: 1;
      position: relative;
      display: flex;
      justify-content: center;

      @include respond-to(large) {
        order: 2;
      }
    }
  }

  &__title {
    margin-top: 22px;

    @include respond-to(large) {
      margin-top: 40px;
    }
  }

  &__paragraph {
    margin-top: 20px;
  }

  &__button {
    margin-top: 20px;
  }

  &__image {
    width: 100%;
    height: auto;
    position: relative;
    z-index: 2;

    @include respond-to(medium) {
      width: 80%;
    }
  
    @include respond-to(large) {
      width: 100%;
    }
  }
}