.user {
  padding: 120px;
  min-height: 80vh;

  display: grid;
  justify-content: center;
  gap: 50px;

  &__image {
    grid-column: span 1;
  }

  &__info {
    grid-column: span 1;
  }

  &--avatar {
    border-radius: 50%;
  }
}