@import '../utils/mixins';
@import '../utils/variables';

.input {
  outline: none;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  transition: border-color 0.3s;
  box-shadow: 1px 1px 5px $color-shadow;

  @include respond-to(small) {
    padding: 20px;
  }

  &::placeholder {
    font-size: 16px;
  }

  &--file {
    display: none
  };

  &__file--custom {
    color: $color-white;
    background-color: $color-secondary;
    padding: 18px 20px;
    min-width: 80px;
    text-decoration: none;
    font-size: 12px;
    font-weight: 600;
    outline: none;
    border: none;
    border-radius: 8px;
    transition: 0.5s;
    cursor: pointer;
  }
};