@import '../utils/variables';

.quizAnswer {
  cursor: pointer;
  padding: 60px 70px 80px;
  border-radius: 10px;
  box-shadow: $shadow $color-shadow;
  display: flex;
  justify-content: center;
  width: 300px;

  &--success {
    background-color: $color-tertiary;
  }

  &--danger {
    background-color: $color-headline;
  }
}