@import '../utils/variables';
@import '../utils/mixins';

.typography {
  &__title {
    font-weight: 900;

    &--primary {
      color: $color-primary;
      line-height: 38px;
      font-size: 34px;

      @include respond-to(small) {
        font-size: 44px;
        line-height: 44px;
      }

      @include respond-to(medium) {
        font-size: 50px;
        line-height: 64px;
      }

      @include respond-to(large) {
        font-size: 54px;
        line-height: 78px;
      }
    }

    &--secondary {
      font-size: 40px;
      color: $color-primary;
    }

    &--card {
      font-size: 20px;
      color: $color-white;
    }
  }

  &__headline {
    font-size: 18px;
    font-weight: 700;
    color: $color-headline;
  }

  &__navigation {
    font-size: 22px;
    font-weight: 700;
    color: $color-primary;
    text-decoration: none;
  
    @include respond-to(medium) {
      font-size: 16px;
    }
  }

  &__paragraph {
    font-size: 28px;
    color: $color-primary;

    &--button {
      color: $color-white;
      font-weight: 700;
    }

    &--logo {
      font-weight: 700;
    }

    &--description {
      font-size: 16px;
      font-weight: 300;
      letter-spacing: 2px;
      line-height: 30px;

        
      @include respond-to(medium) {
        font-size: 18px;
      }
    }
  }
}