@import '../utils/variables';

.typography {
  &__title {
    font-weight: 700;
    line-height: 10px;

    &--primary {
      font-size: 54px;
      color: $color-primary;
    }

    &--secondary {
      font-size: 40px;
      color: $color-primary;
    }

    &--card {
      font-size: 20px;
      color: $color-white;
    }
  }

  &__headline {
    font-size: 18px;
    font-weight: 700;
    color: $color-headline;
  }

  &__navigation {
    font-size: 16px;
    font-weight: 700;
    color: $color-primary;
    text-decoration: none;
  }

  &__paragraph {
    font-size: 28px;
    color: $color-primary;

    &--button {
      color: $color-white;
      font-weight: 700;
    }

    &--logo {
      font-weight: 700;
    }
  }
}